# data
leaderboard/
data/*
tmp/

# reqs
reqs/*
!reqs/example.yaml

# config
.env

# debug
debug/

# dev
.idea/
log.txt
err.txt

# guilds
guilds/
!guilds/guilds.yaml

# misc
**/*.pyc
**/*.whl

# models
models/
